.link-inicio-migas {
    color: black;
}

.fa-folder {
    color: rgb(255, 217, 101);
}

/* TÍTULO DE LA PÁGINA MI ARCHIVO */
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    background-color: white;
}

.titulo tbody,
tr {
    width: 100%;
    display: flex;
}

.fa-print {
    display: flex;
    font-size: 2em;
    color: rgb(28, 61, 124);
}

/* CONTENEDOR GENERAL DE LA PÁGINA "MI ARCHIVO"*/

.contenedor-general {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    background-color: white;
    padding: 1em;
    margin: 1em;
    width: 100%;
}


.contenedor-miarchivo {
    display: flex;
    flex-direction: column;
    height: 31em;
    width: 100%;
    border-radius: 15px;
    padding-top: 15px;
}

.contenedor-tabla-archivo {
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: row;
}

.titulo-archivo {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-left: 100px;
}

.contenedor-impresora {
    display: flex;
    justify-content: end;
    margin-right: 45px;
}

.contenedor-tabla {
    display: flex;
    margin: 10px;
    padding: 10px;
}

/*/TABLA DE COTIZACIONES/*/

/*/General/*/

.tabla {
    padding-top: 10px;
    background-color: #DAE2F3;
    display: flex;
    flex-direction: column;
    flex: 3;
    max-height: 27em;
    border-radius: 5px;
    width: 90%;
}

thead {
    border-bottom: 1px solid black;
}

tbody {
    background-color: white;
    overflow: auto;
}

.foot-tabla {
    height: 2em;
    background-color: #DAE2F3;
    border-radius: 10px;
}

.fila-cabecera {
    background-color: #DAE2F3;
    height: 3em;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

.fila {
    text-align: center;
    display: flex;
    padding: 3px 0px;
}

th,
td {
    width: 100%;
    border-radius: 0%;
}

.contenido-fecha {
    background-color: #F2F2F2;
    text-align: left;
    padding-left: 2%;
    color: blue;
}

/* Nombre de la moneda */
.columna-moneda {
    text-align: left;
}

/* Ícono para borrar */
.columna-borrar {
    color: #C55A11;
    font-size: 20px;
    /* ojo responsive */
}

.footer-lista ul li a:visited {
    color: black;
  }
  
  .footer-lista ul li a {
    color: black;
  }